---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/fieldValues
    body:
      encoding: UTF-8
      string: '{"fieldValue":{"contact":572218,"field":2,"value":"field_value"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"cdate":"2020-12-25T11:14:12-06:00","email":"fulanodetal222@sicrano.com","phone":"1231123123","firstName":"Fulano","lastName":"Sicrano","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":"0000-00-00","ip":"0","ua":"","hash":"0421d5b3c48344756571b65b1277ba33","socialdata_lastcheck":"0000-00-00
        00:00:00","email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":"0000-00-00","gravatar":"0","deleted":"0","anonymized":"0","adate":"2020-12-29T20:42:05-06:00","udate":"2020-12-29T20:42:14-06:00","edate":null,"deleted_at":"0000-00-00
        00:00:00","created_utc_timestamp":"2020-12-25 11:14:12","updated_utc_timestamp":"2020-12-29
        20:42:14","created_timestamp":"2020-12-25 11:14:12","updated_timestamp":"2020-12-29
        20:42:14","created_by":"0","updated_by":"0","email_empty":false,"links":{"bounceLogs":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/bounceLogs","contactAutomations":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactData","contactGoals":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactGoals","contactLists":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactLists","contactLogs":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactLogs","contactTags":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactTags","contactDeals":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/contactDeals","deals":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/deals","fieldValues":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/fieldValues","geoIps":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/geoIps","notes":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/notes","organization":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/organization","plusAppend":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/plusAppend","trackingLogs":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/trackingLogs","scoreValues":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/scoreValues","accountContacts":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/accountContacts","automationEntryCounts":"https:\/\/yourdomain.api-us1.com\/api\/3\/contacts\/572218\/automationEntryCounts"},"id":"572218","organization":null}],"fieldValue":{"contact":572218,"field":2,"value":"field_value","cdate":"2020-12-29T19:51:46-06:00","udate":"2020-12-29T20:42:14-06:00","created_by":"0","updated_by":"0","links":{"owner":"https:\/\/yourdomain.api-us1.com\/api\/3\/fieldValues\/803383\/owner","field":"https:\/\/yourdomain.api-us1.com\/api\/3\/fieldValues\/803383\/field"},"owner":572218,"id":"803383"}}'
  recorded_at: Wed, 30 Dec 2020 02:42:15 GMT
recorded_with: VCR 5.1.0
