---
http_interactions:
- request:
    method: get
    uri: https://url.api-us1.com/api/3/contacts?search=someone@email.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"scoreValues":[],"contacts":[{"cdate":"2020-04-29T19:58:03-05:00","email":"someone@email.com","phone":"","firstName":"Fulano","lastName":"Sicrano","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":null,"ip":"0","ua":"","hash":"","socialdata_lastcheck":null,"email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":"0000-00-00","gravatar":"0","deleted":"0","anonymized":"0","adate":null,"udate":"2020-04-29T19:58:03-05:00","edate":null,"deleted_at":"0000-00-00
        00:00:00","created_utc_timestamp":"2020-04-29 19:58:03","updated_utc_timestamp":"2020-04-29
        19:58:03","created_timestamp":"2020-04-29 19:58:03","updated_timestamp":"2020-04-29
        19:58:03","created_by":"0","updated_by":"0","scoreValues":[],"accountContacts":[],"links":{},"id":"349151","organization":null}],"meta":{"total":"1","sortable":true,"page_input":{"segmentid":0,"formid":0,"listid":0,"tagid":0,"limit":20,"offset":0,"search":"someone@email.com","sort":null,"seriesid":0,"waitid":0,"status":-1,"forceQuery":0,"cacheid":""}}}'
  recorded_at: Fri, 01 May 2020 20:16:47 GMT
recorded_with: VCR 5.1.0
