---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/tags
    body:
      encoding: UTF-8
      string: '{"tag":{"tag":"teste-api-2021","tagType":"contact"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tag":{"tag":"teste-api-2021","tagType":"contact","cdate":"2020-05-01T18:13:39-05:00","links":{"contactGoalTags":"https:\/\/url.api-us1.com\/api\/3\/tags\/44\/contactGoalTags"},"id":"44"}}'
  recorded_at: Fri, 01 May 2020 23:13:39 GMT
recorded_with: VCR 5.1.0
