---
http_interactions:
- request:
    method: get
    uri: https://url.api-us1.com/api/3/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"stringid":"everyone", "userid":"4", "name":"EveryOne"}, {"stringid":"just-some", "userid":"4", "name":"Just Some"}],"meta":{"total":"14"}}'
  recorded_at: Fri, 01 May 2020 20:16:48 GMT
recorded_with: VCR 5.1.0
