---
http_interactions:
- request:
    method: get
    uri: https://url.api-us1.com/api/3/contacts/349151
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"contactAutomations":[],"contactLists":[{"contact":"349151","list":"12","form":null,"seriesid":"0","sdate":"2020-04-29T19:58:03-05:00","udate":null,"status":"1","responder":"1","sync":"38","unsubreason":"","campaign":null,"message":null,"first_name":"Anchieta","last_name":"","ip4Sub":"2130706433","sourceid":"1","autosyncLog":null,"ip4_last":"0","ip4Unsub":"0","created_timestamp":"2020-04-29
        19:58:03","updated_timestamp":"2020-04-29 19:58:03","created_by":"0","updated_by":"0","unsubscribeAutomation":null,"links":{"automation":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/automation","list":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/list","contact":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/contact","form":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/form","autosyncLog":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/autosyncLog","campaign":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/campaign","unsubscribeAutomation":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/unsubscribeAutomation","message":"https:\/\/url.api-us1.com\/api\/3\/contactLists\/642989\/message"},"id":"642989","automation":null},{"contact":"349151","list":"19","form":null,"seriesid":"0","sdate":"2020-04-29T19:58:03-05:00","udate":null,"status":"1","responder":"1","sync":"37","unsubreason":null,"campaign":null,"message":null,"first_name":"Anchieta","last_name":"","ip4Sub":"2130706433","sourceid":"1","autosyncLog":null,"ip4_last":"0","ip4Unsub":"0","created_timestamp":"2020-04-29
        19:58:03","updated_timestamp":"2020-04-29 19:58:03","created_by":null,"updated_by":null,"unsubscribeAutomati[...]
