---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contactLists
    body:
      encoding: UTF-8
      string: '{"contactList":{"list":"19","contact":"578531","status":2}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"contacts":[{"cdate":"2021-01-05T15:47:04-06:00","email":"fulanodetal22244@sicrano.com","phone":"","firstName":"Fulano
        de Tal","lastName":"","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":"0000-00-00","ip":"172064898","ua":"okhttp\/3.14.1","hash":"6acc7db9a1875595f8506b3c42701ccd","socialdata_lastcheck":"0000-00-00
        00:00:00","email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":"0000-00-00","gravatar":"0","deleted":"0","anonymized":"0","adate":"2021-01-06T04:40:30-06:00","udate":"2021-01-06T04:49:59-06:00","edate":null,"deleted_at":"0000-00-00
        00:00:00","created_utc_timestamp":"2021-01-05 15:47:04","updated_utc_timestamp":"2021-01-06
        04:49:59","created_timestamp":"2021-01-05 15:47:04","updated_timestamp":"2021-01-06
        04:49:59","created_by":"0","updated_by":"0","email_empty":false,"links":{"bounceLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/bounceLogs","contactAutomations":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactData","contactGoals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactGoals","contactLists":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactLists","contactLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactLogs","contactTags":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactTags","contactDeals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/contactDeals","deals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/deals","fieldValues":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/fieldValues","geoIps":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/geoIps","notes":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/notes","organization":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/organization","plusAppend":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/plusAppend","trackingLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/trackingLogs","scoreValues":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/scoreValues","accountContacts":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/accountContacts","automationEntryCounts":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578531\/automationEntryCounts"},"id":"578531","organization":null}],"contactList":{"contact":"578531","list":"19","form":null,"seriesid":"0","sdate":"2021-01-06T04:42:42-06:00","udate":"2021-01-06T04:49:59-06:00","status":2,"responder":"1","sync":"0","unsubreason":"","campaign":null,"message":null,"first_name":"Fulano
        de Tal","last_name":"","ip4Sub":"0","sourceid":"3","autosyncLog":null,"ip4_last":"0","ip4Unsub":"0","created_timestamp":"2021-01-06
        04:42:42","updated_timestamp":"2021-01-06 04:42:42","created_by":"0","updated_by":"0","unsubscribeAutomation":null,"links":{"automation":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/automation","list":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/list","contact":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/contact","form":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/form","autosyncLog":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/autosyncLog","campaign":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/campaign","unsubscribeAutomation":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/unsubscribeAutomation","message":"https:\/\/mydomain.api-us1.com\/api\/3\/contactLists\/2312860\/message"},"id":"2312860","automation":null}}'
  recorded_at: Wed, 06 Jan 2021 10:49:59 GMT
recorded_with: VCR 5.1.0
