---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contact/sync
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal3@sicrano.com","firstName":"Fulano2","lastName":"Sicrano2","phone":"1231123123"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"contact":{"cdate":"2020-05-02T05:29:18-05:00","email":"fulanodetal3@sicrano.com","phone":"1231123123","firstName":"Fulano2","lastName":"Sicrano2","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":null,"ip":"0","ua":null,"hash":"","socialdata_lastcheck":null,"email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":null,"gravatar":"0","deleted":"0","anonymized":"0","adate":null,"udate":"2020-05-02T05:29:19-05:00","edate":null,"deleted_at":null,"created_utc_timestamp":"2020-05-02
        05:29:18","updated_utc_timestamp":"2020-05-02 05:29:18","created_timestamp":"2020-05-02
        05:29:18","updated_timestamp":"2020-05-02 05:29:18","created_by":null,"updated_by":null,"links":{},"id":"355750","organization":null}}'
  recorded_at: Sat, 02 May 2020 10:29:20 GMT
recorded_with: VCR 5.1.0
