---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contact/sync
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal3@sicrano.com","firstName":"Fulano2","lastName":"Sicrano2","phone":"1231123123"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal3@sicrano.com","phone":"1231123123","firstName":"Fulano2","lastName":"Sicrano2","cdate":"2020-05-02T05:29:18-05:00","udate":"2020-05-02T05:29:18-05:00","orgid":"","orgname":"","links":{},"id":"355750","organization":""}}'
  recorded_at: Sat, 02 May 2020 10:29:18 GMT
recorded_with: VCR 5.1.0
