---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contact/sync
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal3@sicrano.com","firstName":"Fulano","lastName":"de
        Tal","fieldValues":[{"field":3,"value":"First Value"},{"field":1,"value":"Last
        Value"}]}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fieldValues":[{"contact":"578613","field":"3","value":"First Value","cdate":"2021-01-05T16:16:32-06:00","udate":"2021-01-05T16:17:08-06:00","created_by":"0","updated_by":"0","links":{"owner":"https:\/\/mydomain.api-us1.com\/api\/3\/fieldValues\/804889\/owner","field":"https:\/\/mydomain.api-us1.com\/api\/3\/fieldValues\/804889\/field"},"id":"804889","owner":"578613"},{"contact":"578613","field":"1","value":"Last
        Value","cdate":"2021-01-05T16:16:32-06:00","udate":"2021-01-05T16:17:08-06:00","created_by":"0","updated_by":"0","links":{"owner":"https:\/\/mydomain.api-us1.com\/api\/3\/fieldValues\/804890\/owner","field":"https:\/\/mydomain.api-us1.com\/api\/3\/fieldValues\/804890\/field"},"id":"804890","owner":"578613"}],"contact":{"cdate":"2021-01-05T16:16:32-06:00","email":"fulanodetal3@sicrano.com","phone":"","firstName":"Fulano","lastName":"de
        Tal","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":null,"ip":"0","ua":null,"hash":"57bfe0be18293daccadbacacab7ce1fe","socialdata_lastcheck":null,"email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":null,"gravatar":"0","deleted":"0","anonymized":"0","adate":null,"udate":"2021-01-05T16:17:08-06:00","edate":null,"deleted_at":null,"created_utc_timestamp":"2021-01-05
        16:16:32","updated_utc_timestamp":"2021-01-05 16:16:32","created_timestamp":"2021-01-05
        16:16:32","updated_timestamp":"2021-01-05 16:16:32","created_by":null,"updated_by":null,"email_empty":false,"links":{"bounceLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/bounceLogs","contactAutomations":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactData","contactGoals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactGoals","contactLists":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactLists","contactLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactLogs","contactTags":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactTags","contactDeals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/contactDeals","deals":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/deals","fieldValues":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/fieldValues","geoIps":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/geoIps","notes":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/notes","organization":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/organization","plusAppend":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/plusAppend","trackingLogs":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/trackingLogs","scoreValues":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/scoreValues","accountContacts":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/accountContacts","automationEntryCounts":"https:\/\/mydomain.api-us1.com\/api\/3\/contacts\/578613\/automationEntryCounts"},"fieldValues":["804889","804890"],"id":"578613","organization":null}}'
  recorded_at: Tue, 05 Jan 2021 22:17:07 GMT
recorded_with: VCR 5.1.0
