---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contacts
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal@sicrano.com","firstName":"Fulano","lastName":"Sicrano","phone":"1231123123"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 30 Dec 2020 14:43:06 GMT
recorded_with: VCR 5.1.0
