---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contacts
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal@sicrano.com","firstName":"Fulano","lastName":"Sicrano","phone":"1231123123"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"fulanodetal@sicrano.com","phone":"1231123123","firstName":"Fulano","lastName":"Sicrano","cdate":"2020-05-02T05:14:50-05:00","udate":"2020-05-02T05:14:50-05:00","orgid":"","orgname":"","links":{},"id":"355748","organization":""}}'
  recorded_at: Sat, 02 May 2020 10:14:50 GMT
recorded_with: VCR 5.1.0
