---
http_interactions:
- request:
    method: post
    uri: https://url.api-us1.com/api/3/contactTags
    body:
      encoding: UTF-8
      string: '{"contactTag":{"contact":"349151","tag":"38"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contacts":[{"cdate":"2020-04-29T19:58:03-05:00","email":"someone@email.com","phone":"","firstName":"Name","lastName":"","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":"0000-00-00","ip":"0","ua":"","hash":"","socialdata_lastcheck":"0000-00-00
        00:00:00","email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":"0000-00-00","gravatar":"0","deleted":"0","anonymized":"0","adate":"2020-05-02T05:01:25-05:00","udate":"2020-05-02T05:03:08-05:00","edate":null,"deleted_at":"0000-00-00
        00:00:00","created_utc_timestamp":"2020-04-29 19:58:03","updated_utc_timestamp":"2020-05-02
        05:03:08","created_timestamp":"2020-04-29 19:58:03","updated_timestamp":"2020-05-02
        05:03:08","created_by":"0","updated_by":"0","links":{},"id":"349151","organization":null}],"contactTag":{"contact":"349151","tag":"38","cdate":"2020-05-02T05:03:08-05:00","links":{"tag":"https:\/\/url.api-us1.com\/api\/3\/contactTags\/558923\/tag","contact":"https:\/\/url.api-us1.com\/api\/3\/contactTags\/558923\/contact"},"id":"558923"}}'
  recorded_at: Sat, 02 May 2020 10:03:09 GMT
recorded_with: VCR 5.1.0
